      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Content
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a asp-area="Moderator" asp-controller="Movies" asp-action="All" class="dropdown-item">Movies</a>
        <a asp-area="Moderator" asp-controller="People" asp-action="All" class="dropdown-item">People</a>
        <a asp-area="Moderator" asp-controller="Genres" asp-action="All" class="dropdown-item">Genres</a>
        <a asp-area="Moderator" asp-controller="Articles" asp-action="All" class="dropdown-item">Articles</a>
        <a asp-area="Moderator" asp-controller="TheaterProgram" asp-action="All" class="dropdown-item">Now Playing</a>

    </div>
</li>