@model ICollection<TheaterProgramShortListViewModel>
@{
    ViewData["Title"] = "All Programs";
}

<br/>
<div class="row">
    <div class="col-sm-6">
        <h2>Theater Program</h2>
    </div>
    <div class="col-sm-6">
        <a asp-area="Moderator" asp-controller="TheaterProgram" asp-action="Add" class="btn btn-outline-success btn-lg float-right">Add New</a>
    </div>

    <table class="table table-responsive-md table-hover">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model)
            {
                <tr>
                    <td width="40%">@program.DateFrom.ToString("dd/MM/yyyy")</td>
                    <td width="40%">@program.DateTo.ToString("dd/MM/yyyy")</td>
                    <td width="20%">
                        <a asp-area="Moderator" asp-controller="TheaterProgram" asp-action="Edit" asp-route-id="@program.Id" class="btn btn-outline-info float-right">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>