@using Helpers
@using MyMovieDb.App.Helpers
@model GenreBindingModel
@{
    ViewData["Title"] = "Add Genre";
}

<br />
<h4>Add Genre</h4>
<hr />
<form method="post" asp-area="Moderator" asp-controller="Genres" asp-action="Add">
    <div class="row col-sm-6">
        @Html.FormGroupFor(m => m.Description)
    </div>

    <div class="col-sm-3">
        <button type="submit" class="btn btn-outline-success">Add</button>
        <a asp-area="Moderator" asp-controller="Genres" asp-action="All" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>

