@model ICollection<GenreViewModel>
@{
    ViewData["Title"] = "All Genres";
}

@section Scripts {
    <script src="~/js/delete-modal.js"></script>
}

<br/>
<div class="row">
    <div class="col-sm-6">
        <h2>All Genres</h2>
    </div>
    <div class="col-sm-6">
        <a asp-area="Moderator" asp-controller="Genres" asp-action="Add" class="btn btn-outline-success btn-lg float-right">Add New</a>
    </div>

    <table class="table table-responsive-md table-hover">
        <thead>
        <tr>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td width="70%" id="item-description">@genre.Description</td>
                <td width="15%">
                    <a asp-area="Moderator" asp-controller="Genres" asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-outline-info float-right">Edit</a>
                </td>
                <td width="15%">
                    <a id="deleteBtn-@genre.Id" class="btn btn-outline-danger float-right">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @Html.Partial("_ConfirmDeleteModal")
</div>