div.message-container {
    padding-top: 20px;
    width: 50%;
    position: absolute;
    z-index: 100000;
}

img.search-result {
    max-height: 60px;
}

img.details-image {
    max-height: 100%;
}
