@model MovieBindingModel
@{
    ViewData["Title"] = "Add Movie";
}

<br />
<h4>Add Movie</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-area="Moderator" asp-controller="Movies" asp-action="Add">
    <div class="row">
        
    </div>
</form>

