@model ICollection<MovieShortListModel>

@section Scripts {
    <script src="~/js/delete-modal.js"></script>
}

@{
    ViewData["Title"] = "All Movies";
}


<br />
<div class="row">
    <div class="col-sm-6">
        <h2>All Movies</h2>
    </div>
    <div class="col-sm-6">
        <a asp-area="Moderator" asp-controller="Movies" asp-action="Add" class="btn btn-outline-success btn-lg float-right">Add New</a>
    </div>

    <table class="table table-responsive-md table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td width="70%" id="item-description">@movie.Title</td>
                <td width="15%">
                    <a asp-area="Moderator" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-outline-info float-right">Edit</a>
                </td>
                <td width="15%">
                    <a id="deleteBtn-@movie.Id" class="btn btn-outline-danger float-right">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @Html.Partial("_ConfirmDeleteModal")
</div>