@model ICollection<MovieShortListModel>

@section Scripts {
    <script src="~/js/delete-modal.js"></script>
}

@{
    ViewData["Title"] = "All Movies";
}

<h2>All Movies</h2>

<div class="row">
    <a asp-area="Moderator" asp-controller="Movies" asp-action="Add" class="btn btn-outline-secondary btn-lg">Add new movie</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td id="item-description">@movie.Title</td>
                <td>
                    <a asp-area="Moderator" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-outline-info">Edit</a>
                </td>
                <td>
                    <a id="deleteBtn-@movie.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    @Html.Partial("_ConfirmDeleteModal")
</div>