@model ICollection<MovieShortListModel>
@{
    ViewData["Title"] = "All Movies";
}

<h2>All Movies</h2>

<div class="row">
    <a asp-area="Moderator" asp-controller="Movies" asp-action="Add" class="btn btn-outline-secondary btn-lg">Add new movie</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
            </tr>
        }
        </tbody>
    </table>
</div>