@model ICollection<PersonShortViewModel>
@{
    ViewData["Title"] = "All People";
}

@section Scripts {
    <script src="~/js/delete-modal.js"></script>
}

<h2>All People</h2>

<div class="row">
    <a asp-area="Moderator" asp-controller="People" asp-action="Add" class="btn btn-outline-secondary btn-lg">Add new person</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td id="item-description">@person.FullName</td>
                <td>
                    <a asp-area="Moderator" asp-controller="People" asp-action="Edit" asp-route-id="@person.Id" class="btn btn-outline-info">Edit</a>
                </td>
                <td>
                    <a id="deleteBtn-@person.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@Html.Partial("_ConfirmDeleteModal")
