@model ICollection<PersonShortViewModel>
@{
    ViewData["Title"] = "All People";
}

@section Scripts {
    <script src="~/js/delete-modal.js"></script>
}
<br/>
<div class="row">
    <div class="col-sm-6">
        <h2>All People</h2>
    </div>
    <div class="col-sm-6">
        <a asp-area="Moderator" asp-controller="People" asp-action="Add" class="btn btn-outline-success btn-lg float-right">Add New</a>
    </div>

    <table class="table table-responsive-md table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td width="70%" id="item-description">@person.FullName</td>
                <td width="15%">
                    <a asp-area="Moderator" asp-controller="People" asp-action="Edit" asp-route-id="@person.Id" class="btn btn-outline-info float-right">Edit</a>
                </td>
                <td width="15%">
                    <a id="deleteBtn-@person.Id" class="btn btn-outline-danger float-right">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@Html.Partial("_ConfirmDeleteModal")
