@model ICollection<PersonShortListViewModel>
@{
    ViewData["Title"] = "All People";
}

<h2>All People</h2>

<div class="row">
    <a asp-area="Moderator" asp-controller="People" asp-action="Add" class="btn btn-outline-secondary btn-lg">Add new person</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.FullName</td>
                    <td>
                        <a asp-area="Moderator" asp-controller="People" asp-action="Edit" asp-route-id="@person.Id" class="btn btn-outline-info">Edit</a>
                    </td>
                    <td>
                        <a asp-area="Moderator" asp-controller="People" asp-action="Delete" asp-route-id="@person.Id" class="btn btn-outline-info">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>